<p>Los Tickets serán entregados ÚNICAMENTE al Titular de la Tarjeta de crédito/débito utilizada para la compra de los mismos, mediante acreditación fehaciente de su identidad. 

    Para esto, el titular deberá presentarse llevando consigo su Documento de Identidad (Cédula de Identidad, DNI, Libreta de Enrolamiento, Libreta Cívica, Pasaporte) y Tarjeta de crédito/débito utilizada.</p>

<p>¿Realizaste una compra por nuestro sitio web y no te llego el mail de confirmación? 

    Te pedimos que revises, en primer lugar, tu bandeja de "SPAM" para confirmar que no ha ingresado el mail. 
    
    Si no es así también podes encontrar un resumen de tus compras en nuestra web: ingresando a "MI CUENTA" , en la solapa "HISTORIAL DE COMPRAS".</p>